<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li><a href="/fishshop">Fish Shop</a></li>
            <li><a href="/suppliesshop">Supplies Shop</a></li>
        </ul>
    </main>  
</body>
</html>