html{
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
}
body {
    font-size: 2rem;
    max-width: 600px;
}
header ul  {
    display: flex;
}
li {
    display: inline;
    text-decoration: none;
    padding-right: 10px;
}

.logo {
    font-size: 5.6rem;
}
.logo-image{
    max-width: 55px;
}
p {
    font-size: 2rem;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
}

.fish-tank-view-container, .tank-view-container{
    display: flex;
}

.fish-block-tank-view, .tank-block{
    max-width: 200px;

    *{
        display: block;
        text-align: center;
        margin: auto;
    }
}

// .fish-block-tank-view:hover{
//     background: rgb(234, 234, 234);
//     border: 2px rgb(203, 203, 203) solid;
//     cursor: pointer;
// }

.fish-image-tank-view, .tank-image{
    max-width: 200px;
}